{% extends 'feedstock/base.html' %}
{% block content %}
    <div class = "container-fluid">
        <h1>Listagem de Produtos</h1>
        <table class="table table-striped custom-table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for feedstock in feedstocks %}
                    <tr>
                        <td>{{ feedstock.id }}</td>
                        <td>{{ feedstock.name }}</td>
                        <td>{{ feedstock.quantity }}</td>
                        {% if  feedstock.address.box  %}
                            <td>{{ feedstock.address.area }}{{ feedstock.address.street }}{{ feedstock.address.module }}{{ feedstock.address.level }}{{ feedstock.address.box }}
                        {% else %}
                            <td>{{ feedstock.address.area }}{{ feedstock.address.street }}{{ feedstock.address.module }}{{ feedstock.address.level }}
                        {% endif %}
                        </td>
                        <td>
                            <a class = "btn btn-success custom-btn" href="{% url 'get_address' pk=feedstock.id %}">Endereço</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
