img{
    margin:30px;
}

h1{
    text-align: center;
    margin: 20px;
    font-size: 45px;
    color: #1224ed;
}

.custom-table td{
    font-size:30px;
}

.custom-table th{
    font-size:30px;
}

.custom-btn{
    font-size:30px;
}

.search{
    height: 100%;
    width: 50%; /* Full-width */
    font-size: 30px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin: 12px; /* Add some space below the input */
    display:block;
    margin-right: auto;
    margin-left: auto;
}

.search-bar{
    align-content: center;
}

.address{
    margin:20px;
    padding:30px;
    background-color: black;
}